@mixin  center($top, $left) {
    top:$top;
    right:$left;
    transform:translate(0%, -50%);
}
$primary:#2196F3;
$secondary:#607d8b;
$primaryDark:#1E88E5;
$secondaryDark:#546e7a;
$secondaryDark2:#455a64;

@font-face{
    font-family: "AvenirBold";
    src: url("../fonts/avenirbold.otf");
}

body{
    background:rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar{
    display:none;
    opacity: 0;
    position: relative;
    right:-100%;
    margin-right:-100%;
}

#notFound{
    position: absolute;
    width:80%;
    top:50%;
    left:50%;
    transform:translate(-50%, 0%);
    text-align:center;
    font-size:2em;
    color:$secondary;
    div{
        margin-top:10px;
    }
    p{
        margin-top:10px;
        font-size:0.7em;
        color:#888;
        text-align:justify;
    }
}

.userBox{
    transition:all 0.15s ease;
display:none;
opacity:0;
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    left:0;
    background:#000;
    z-index: 100010;
    #exitLogin{
        position: absolute;
        top:0;
        right:0;
        margin:20px;
        color:#fff;
        text-decoration:none;
        z-index: 2;
        i{
            font-size:3em;
        }
    }
    form{
        position: absolute;
        width:70%;
        padding: 0;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        .input-field input:focus + label {
            color:$primary!important;
          }
          .input-field input:focus{
            border-color:$primary!important;
            box-shadow:none;     
        }
        div{
            margin-bottom:70px;
            transform:scale(1.2, 1.2);
            i{
                color:#fff!important;
            }
            input{
                color:#fff!important;
            }
        }
    }
}
//Title
.insert{
    transform: scale(1.2,1.2);
    background:$primary;
}


@keyframes images{
    0%{
        transform:scale(1, 1) rotate(0deg);
    }
    50%{
        transform:scale(1.5, 1.5) rotate(10deg);
    }
    100%{
        transform:scale(1, 1) rotate(0deg);
    }
}
.animImage{
    animation:images 4s linear infinite; 
}
main{
    position: relative;
    top:35px;
    padding-bottom:20px;
    .container{
        position: relative;
        width:90%;
   
    .item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 5px solid rgba(255, 255, 255,1);
        height:150px;
        width:100%;
        overflow: hidden;
        border-radius:10px;
        .poper{
            position: absolute;
            background:$primary;
            font-size:1.9em;
            font-style:normal;
            color:#fff;
            border-radius:1000px;
            padding-top:7px;
            width:50px;
            height:50px;
            text-align:center;
            top:-20px;
            margin-left:-30px;
            //box-shadow:0 0 10px rgba(0, 0, 0, 0.6);
        }
        img{
            height:100%;
            width:100%;
            object-fit:cover;
//            animation:images 4s linear infinite; 
        }
}
}
}

  
#firsTCt {
  
    display: grid;
    grid-template-columns: 100%;
    justify-content:space-between;
    border-radius:10px 10px 0 0;
  }
#secondTCt {

    display: grid;
    grid-template-columns:60% 40%;
    justify-content:space-between;

}
#thirdTCt {
    display: grid;
    grid-template-columns:45% 55%;
    justify-content:space-between;

}
#fourTCt{
    background:#fff;
    display: grid;
    grid-template-columns:40% 30% 30%;
    justify-content:space-between;

    border-radius:0 0 10px 10px
}
 


//INfo Model
#editModel{
    display: none;
    opacity: 0;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba($color:#000, $alpha: 1);
    z-index:10001;
    transition:all 0.4s ease-in;
    #updateE{
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        color:#fff;
        font-size:1.5em;
        text-align:center;
        padding:20px 0;
        i{
            position: relative;
            top:5px;
            font-size:1em;
            margin-right:10px;
        }
    }
    #exitEdit{
        position: absolute;
        top:0;
        right:0;
        margin:20px;
        color:#fff;
        text-decoration:none;
        z-index: 2;
        i{
            font-size:3em;
        }
    }#ttEdit{
        position: absolute;
        top:0%;
        left:0%;
        color:#fff;
        border-bottom:2px solid #fff;
        font-size:3em;
        padding-top:0;
        margin-top:0;
        margin:30px;
    }
    #editContent{
        position: absolute;
        left:50%;
        top:45%;
        transform:translate(-50%, -50%);
        width:80%;
        .sectInfo:nth-child(7){
            margin-bottom:-8px;
        }
        .sectInfo{
           
            margin-bottom:20px;
            h5{
                width:100%;
                margin:0;
              //  font-size:3em;
                font-size:1.2em;
                font-family: "AvenirBold"!important;
                color:#fff;
            }
            input{
                margin:0;
                width:100%;
             //   background:$secondaryDark;
                position: relative;
                padding-left:1px;
                color:rgba(255, 255, 255, 0.4);
                font-size:1.2em;
                transition:all 0.15s ease-in;
                border-bottom:5px solid rgba(255, 255, 255, 0.2);
            }
            input:focus{
               
                border-color:transparent!important;
                box-shadow:none;
               
            }
        }
    }
}
#infoModel{
   display: none;
   opacity:0;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0, 0, 0, 0.97);
    z-index:10000;
    transition:all 0.4s ease-in;

    #infoImg{
        position:absolute;
        width:55%;
        height:auto;
        top:50%;
        @include center(48.5%, 40px);
        img{
            width:100%;
            height:auto;
            border:2px solid white;
        }
    }

    #exitInfo{
        position: absolute;
        top:0;
        right:0;
        margin:20px;
        color:#fff;
        text-decoration:none;
        z-index: 2;
        i{
            font-size:3em;
        }
    }
    #btns{
        width:100%;
        position: absolute;
        bottom:0;
        right:0;
        display:flex;
        justify-content:flex-end;
        z-index: 3;
    #retire{
        color:#fff;
        font-size:1.5em;
        text-decoration:none;
        padding:10px 20px;
        i{
            position: relative;
            top:6px;
            font-size:1.5em;
        }
    }
    #pr{
        display: inline-block;
        color:#fff;
        padding:10px 20px;
        font-size:2em;
        p{
            position: relative;
            top:5px;
        }
        
    }
}
    #infoContent{
        position: absolute;
        top:48.5%;
        left:40px;
        text-align:left;
        width:50%;
        padding-right:40px;
        transform:translate(0%, -50%);
        #editBtn{
            transition:all 0.15s ease-in;
            margin-left:15px;
            color:#fff;
            i{
                font-size:2em;
            }
            opacity:1;
        }
        #ttInfo{
            position: relative;
            left:0%;
            display: inline-block;
            border-bottom:3px solid white;
            text-align:left;
            color:#fff;
        }
        .sectInfo{
            width:100%;
            *{
                display:inline-block;
            }
            h5{
                color:#fff;
                font-family: "AvenirBold"!important;
                margin-right:5px;
            }
            p{
                color:#aaa;
          
                
                font-size:1.5em;
            }
            p::-webkit-scrollbar{
                position: relative;
                left:200%;
                width:0;
                height:0;
                background:transparent;
                opacity:0;
                display: none;
                transform:scale(0);
            }  
        }
        #modelo, #serial, #tipo, #marca{
            text-transform:capitalize;
        }
        #com {
            *{
            display:block;
        }
            p{
                width:70%;
            overflow:scroll;
            padding:8px 0;
            }
            p::-webkit-scrollbar{
                position: relative;
                left:200%;
                width:0;
                height:0;
                background:transparent;
                opacity:0;
                display: none;
                transform:scale(0);
            }  
        }
        #ddt {
            *{
                display:block;
            }
            p{
                width:70%;
                overflow:scroll;
                padding:8px 0;
                text-transform:capitalize;
            }
        }
    }

}

.collection{
    transition:all 0.3s ease-in;
    display:none;
    opacity: 0;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index:10;
    a li{
        margin-right:5px;
        color:$primary;
        *{
            display: inline-block;
        }
        i{
            position: relative;
            top:6px;
            margin-right:5px;
        }
    }
}
@media screen and (max-width:700px){
    #infoContent{
       
         width:90%!important;
         top:42%!important;
         left:5%!important;
         text-align:center!important;
         padding:0!important;
         #ddt *{
             margin-left:5%!important;
             width:90%!important;
         }
         #com *{
            width:100%!important;
        }
    }
    #btns{
       // justify-content: space-between!important;
        *{
            width:50%;
        }
        #retire{
            padding:20px!important;
            text-align:center;
            i{
                width:auto!important;
            }
        }
        #pr{
            padding:20px!important;
            p{
                text-align:center;
                width:100%;
            }
            
        }
    }
}

@media screen and (max-width:460px){
    #btns{ 
        *{
            font-size:1.2em!important;
        }
     
        #retire{
            padding:20px 5px!important;
            i{
                top:3.5px!important;
            }
        }
        #pr{
            padding:17px 5px 20px 5px!important;     
        }
    }
    }

    @media screen and (max-width:310px){
        #btns{ 
            #pr{
                padding:30px 5px!important;     
            }
        }
    }
@media screen and (min-width:600px){
    #firsTCt {
        grid-template-columns: 40% 30% 30%;
      }
    #secondTCt {
        grid-template-columns:60% 40%;
    }
    #thirdTCt {
        grid-template-columns:45% 55%;
    }
    #fourTCt{
        grid-template-columns:40% 30% 30%;
    }
    .item {
        height:200px!important;
    }
  #infoModel  #infoContent  #editBtn{
        opacity:0;
    }
}
@media screen and (min-width:700px){
    .userBox form{
        width:500px;
    }
    #updateE{
        width:320px!important;
       left:unset!important;
       right:0!important;
       font-size:1.5em!important;
    }
  #editContent{
    top:50%!important;
            .sectInfo{
             
                display:flex;
                justify-content:space-between;
                width:100%;
                margin-bottom:40px!important;
                h5{
                    width:50%;
                    font-size:2em!important;
                }
                input{
                    text-align:right;
                    top:-10px;
                    width:50%;
                    font-size:2em!important;
                }
             
                input:focus{
                    transform:scale(1.2, 1.2);
                    top:-9px;
                    color:#fff!important;
                }
            }
    }
    
}


@media screen and (min-width:800px){
    #notFound{
        font-size:2.5em;
        top:0;
    }
    .container{
        position: relative;
        width:80%!important;
    }
    main{
        position: relative;
        top:60px;
        padding-bottom:85px;
    }

    #firsTCt {
        display: grid;
        grid-template-columns: 30% 20% 18% 32%;
        justify-content:space-between;
      }
    #secondTCt {
        display: grid;
        grid-template-columns:60% 40%;
        justify-content:space-between;
    }
    #thirdTCt {
        display: grid;
        grid-template-columns:30% 40% 30%;
        justify-content:space-between;
    }
    #fourTCt{
        display: grid;
        grid-template-columns:40% 30% 30%;
        justify-content:space-between;
    }

}


@media screen and (min-width:1024px){
    .container{
        position: relative;
        width:90%!important;
    }
    .item {
        height:250px!important;
    }
    main{
        position: relative;
        top:45px;
        padding-bottom:55px;
    }
    #notFound{
        width:75%;
        top:0;
        font-size:3em;
    }
}

@media screen and (min-width:1200px){
    .container{
        max-width:1800px;
    }
}

@media screen and (max-width:700px){
    #infoImg{
       display: none;
    }
}


